*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

notes.md
benchmark_results/
results_*.csv
ubuntu_ckpts/
# temporary file from excel
~$experiments.xlsx
